body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: #EDBD40;
    text-indent: 15px;
}
h3 {
    color: goldenrod;
    margin-bottom: -10px;
}

a:link {
    color: goldenrod;
  }
  a:visited {
    color: darkolivegreen;
  }
  a:hover {
    color: orange;
  }
  a:active {
    color: darkslategrey;
}

img {
  width: 100%;
}

  
.banner-box img {
    object-fit: fill;
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: auto;
}




/* Menu */
#main-heading {
    text-transform: uppercase;
    text-align: center;
    color: #3F3F40;
    text-shadow: 0px 0px 2px lightgray;
}
ul.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}  

ul.menu>li a {
    flex: 1 1 50px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 15px; 
    text-decoration: none;
  }  
ul.menu>li a:link {
    color: #3F3F40;
  }
ul.menu>li a:visited {
    color: #3F3F40;
  }
ul.menu>li a:hover {
    color: #EDBD40;
  }

.articles-list {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 24px;
}

#task {
    flex: 1 1 350px;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding-bottom: 25px;
}
#task h2 {
   padding-top: 10px;
   padding-left: 30px;
}
#task p {
    margin-top: -5px;
    padding-left: 35px;
    padding-right: 30px;
}

.image-box-wrapper {
  padding: 8px;
  max-width: 500px;
  margin: auto;
}

.image-box {
  overflow: hidden;
  border-radius: 10px;
}

#requirements {
    flex: 2 1 350px;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding-bottom: 25px;
}
#requirements h2 {
    padding-top: 10px;
    padding-left: 30px;
}
#requirements p {
     margin-top: -5px;
     padding-left: 35px;
     padding-right: 30px;
}
ul[name="requirementslist"] {
    padding-left: 55px;
}

::marker {
    color: #EDBD40;
}
#submission {
    padding: 16px;
    text-align: center;
    width: 100%;
    background-color: #5D859F;
    margin-top: 20px;
}
#submission h2 {
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 10px gray;
}
#submission h3 {
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 10px gray;
}
#submission .info {
    color: white;
    padding: 4px;
    max-width: 450px;
    margin: auto;
}
#submission li[name="me"] {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
    margin-left: -25px;
}

.photo-box {
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
}



#grading {
    background-color: white;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    flex: 1 1 300px;
}

#grading h2 {
    padding-top: 10px;
    text-indent: 0;
 }
 #grading p {
     margin-top: -5px;
     padding-left: 35px;
     padding-right: 30px;
 }
th {
    background-color: #EDBD40;
}

aside {
  flex: 3 1 400px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.deadlines-box {
  flex: 1 1 400px;
}

.dummy-content-box {
  flex: 1 1 400px;
}

.aside_content {
    display: flex;
}

.somedc {
  margin-bottom: 20px;
}

h4 {
    color: #5D859F;
}
.article1 {
    display: block;
    background-color: white;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding: 20px;
    margin-top: 1px;
}
.article2 {
    display: block;
    background-color: white;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}
.article3 {
    display: block;
    background-color: white;
    box-shadow: 1px 2px 8px grey;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px;
}

.contacts {
    flex: 3 1 300px;
}
.contacts h5 {
    color: #3F3F40;
    font-size: 20px;
    text-indent: 0px;
    margin-bottom: 0px;
}
.categories {
    flex: 1 1 200px;
}

.quick_links {
    flex: 1 1 200px;
}

.categories h5 {
    color: #3F3F40;
    font-size: 20px;
    text-indent: 0px;
    margin-bottom: 0px;
}

.quick_links h5 {
    color: #3F3F40;
    font-size: 20px;
    text-indent: 0px;
    margin-bottom: 0px;
}
.categories ul {
    font-size: 18px;
    list-style-type: none;
}
.quick_links ul {
    font-size: 18px;
    list-style-type: none;
}

.categories ul li::before {
    margin-left: -35px;
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1.6px;
    margin-right: 3px;
  }

.quick_links ul li::before {
    margin-left: -35px;
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1.6px;
    margin-right: 3px;
  }
.categories ul li:hover {
    font-size: larger;
}
.quick_links ul li:hover {
    font-size: larger;
}

@media only screen and (max-width: 767px) {
    p {
      font-size: 1rem;
    }
  }

@media only screen and (min-width: 768px) {
    p {
      font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    p {
      font-size: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    p {
      font-size: 1rem;
    }
}

